{% extends 'content/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
  <section class="highlights">
    <!-- insert highlight reel code here -->
    <!-- should be scrollable -->

    <div id="popup-fox" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-container">
            <header class="modalhead">
              <a href="#" class="closebutton">×</a>
            </header>
            <div class="w3-content w3-section" style="max-width:500px">
              {% load static %}
              <img class="mySlides" src="{% static '/content/images/stonehenge.jpg'%}" style="width: 100%">
              <img class="mySlides" src="{% static '/content/images/history.jpg'%}" style="width: 100%">
              <img class="mySlides" src="{% static '/content/images/uk.jpg'%}" style="width:100%">
              <img class="mySlides" src="{% static '/content/images/puritans.jpg'%}" style="width:100%">
              <img class="mySlides" src="{% static '/content/images/egypt.jpg'%}" style="width:100%">
            </div>
            <!-- Button Java  -->
            <script>
              var myIndex = 0;
              carousel();

              function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                  x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {
                  myIndex = 1
                }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 2050); // Change image every 2.5 seconds
              }
            </script>
            <!-- End Button Java -->
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- end slide show-->
  </section>

  <div class="discover">
    <h3>DISCOVER BY...</h3>
    <button class="b-subject">
    <h2><a href="/content/subject">Subject</a></h2>
  </button>
    <button class="b-issue" href="#">
    <h2><a href="#">Tips</a></h2>
  </button>
  </div>

{% endblock %}

